<h1>Volunteer Info</h1>

<table>

    <tr>
        <td><%= profile.Fname %></td>
        <td><%= profile.Lname %></td>
        <td><%= profile.Email %></td>
        <td><%= profile.Phone_num %></td>
        <td><%= profile.shirt_size %></td>
        <td><%= profile.Agency_id %></td>
        <td><%= profile.School_name %></td>
        <td><%= profile.age %></td>
        <td><%= profile.status %></td>
    </tr>

</table>